body {
  text-align: center;
}
.main-container {
  height: 100vh;
  max-width: 1440px;
  min-height: fit-content;
}
.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  text-align: center;
}
.navButton {
  padding: 8px 12px;
  margin-right: 10px;
  color: #578af7;
  border: 2px solid #578af7;
  border-radius: 3px;
  background: none;
}

.navButton:hover {
  background-color: rgba(100, 154, 255, 0.1);
  cursor: pointer;
}
.main-text {
  width: 40vw;
  text-align: left;
}

.main-image img {
  width: 40vw;
}
.work-container {
  background-color: #eeeeee;
  min-height: fit-content;
  flex-direction: column;
}
.about-container {
  background-color: #212121;
  height: 100vh;
  flex-direction: column;
  color: white;
}
.contact-image img {
  width: 50vw;
  margin: 2rem 0;
}
.link-container {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
}
.link-container a:hover {
  padding: 10px 14px;
  border: 2px dashed white;
  color: white;
  background-color: rgba(255, 255, 255, 0.048);
  cursor: pointer;
  color: #578af7;
}
.footer {
  height: 20vh;
  background-color: #69f0ae;
}
.project-container {
  display: flex;
  padding: 1rem 0;
}
.project-desc {
  width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
  justify-content: center;
  background-color: #578af7;
  color: white;
}
.project-img {
  width: 40vw;
}
.project-img img {
  width: 400px;
}
.project-button-container {
  display: flex;
}
.project-button {
  border: 1px solid white;
  border-radius: 1px;
  padding: 10px;
  margin: 0.5rem;
}
.project-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .main-text {
    width: 90vmin;
    text-align: center;
  }
  .contact-image img {
    width: 80vw;
  }

  .main-image img {
    width: 80vw;
    padding: 2rem;
  }

  .center-align {
    flex-wrap: wrap;
  }
  .lead {
    margin: 0;
    line-height: 1.4rem;
  }
  .project-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) {
  .main-image img {
    padding: 1rem;
    width: 100vw;
  }
  .link-container {
    font-size: 0.9rem;
  }
  .footer {
    height: 12vh;
  }
}
@media only screen and (min-width: 1500px) {
  .main-image img {
    width: 70%;
  }
  .contact-image img {
    max-width: 1200px;
  }
}
