body {
  text-align: center;
}
.main-container {
  height: 100vh;
  max-width: 1440px;
}
.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  text-align: center;
}
.navButton {
  padding: 8px 12px;
  margin-right: 10px;
  color: #578af7;
  border: 2px solid #578af7;
  border-radius: 3px;
  background: none;
}

.navButton:hover {
  background-color: rgba(100, 154, 255, 0.1);
  cursor: pointer;
}
.main-text {
  width: 40vw;
  text-align: left;
}

.main-image img {
  width: 40vw;
}
.work-container {
  background-color: burlywood;
  height: 100vh;
}
.about-container {
  background-color: black;
  height: 100vh;
  flex-direction: column;
  color: white;
}
.contact-image img {
  width: 50vw;
  margin: 2rem 0;
}
.link-container {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
}
.link-container a:hover {
  padding: 8px 12px;
  border: 2px dashed white;
  color: white;
  background-color: rgba(255, 255, 255, 0.048);
  cursor: pointer;
  color: #578af7;
}

@media only screen and (max-width: 800px) {
  .main-text {
    width: 100vmin;
    text-align: center;
  }
  .contact-image img {
    width: 80vw;
  }

  .main-image img {
    width: 100vw;
    padding: 4rem;
  }

  .center-align {
    flex-wrap: wrap;
  }
  .lead {
    margin: 0;
    line-height: 1.4rem;
  }
}
@media only screen and (max-width: 400px) {
  .main-image img {
    padding: 1rem;
  }
  .link-container {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1500px) {
  .main-image img {
    width: 70%;
  }
  .contact-image img {
    max-width: 1200px;
  }
}
